@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html{
	padding: 0;
	margin: 0;
	height: 100vh;
}

 body {
	display: flex;
	justify-content:center;
	background: linear-gradient(to bottom left, #144c5e 40%, #f9fbff 100%);
	font-family: 'Lato', sans-serif;
	background-size:cover;
	background-attachment:fixed;
	background-position:center center;
}
 .container {
	 position: fixed;
	 width: 70%;
	 height: 98%;
	 margin: 0;
	 opacity: 0.9;
	 min-height: 500px;
	 min-width: 680px;
}
 .messages {
	 position: absolute;
	 background: #f9fbff;
	 opacity: 0.7;
	 width: 25%;
	 height: 95%;
	 top: 2.5%;
	 left: 5%;
	 border-radius: 10px 0 0 10px;
	 box-shadow: -5px 5px 10px rgba(119, 119, 119, .5);	 
}

#custom-alert{
	color: #f9fbff;
	font-size: 18px;
	opacity: 0.8;
}

#custom-alert-2{
	color: #144c5e;
	font-size: 18px;
	opacity: 1;
	z-index: 3;
}

.signin_title{
	text-align: center;
	position:absolute;
	white-space:pre;
	color: #f9fbff;
	font-size: 60px;
	margin-top: 125px;
	margin-left: 40px;
	opacity: 0.8;
}

.signin_box {
	position:absolute;
	text-align: center;
	opacity: 0.8;
	margin: 0px;
	width: 600px;
	height: 230px;
	margin-top: 200px;
	padding: 5%;
}
/*chat messages */
 .room_list {
	 position: relative;
	 list-style-type: none;
	 width: 100%;
	 line-height: 0.7em;
	 padding: 0;
	 top: -15px;
	 height: 70%;
	 overflow:scroll;
	 overflow-x:hidden;
}
.room_list_add{
	position: relative;
	 list-style-type: none;
	 width: 100%;
	 line-height: 0.7em;
	 top: 0px;
	 padding:0;
	 white-space:nowrap;
	 overflow: hidden;
	 
}
 .room_list .title {
	 font-size: 0.7em;
	 margin-left: 14px;
	 letter-spacing: 1px;
	 color: #777;
}
 .room_list .time {
	 font-size: 0.3em;
	 color: #777;
	 position: absolute;
	 right: 10px;
	 margin-top: 2px;
}
 .room_list .preview {
	 color: #79c7c5;
	 font-size: 0.5em;
	 margin-left: 10px;
	 white-space:nowrap;
	 overflow: hidden;
}
 .person {
	 padding: 18px 0 18px 12px;
	 font-size: 24px;
	 border-bottom: 1px solid #79c7c5;
	 cursor: pointer;
}
 .person:hover {
	 background: #78afc4;
	 transition: all 0.3s ease-in-out;
}
 .profile {
	 position: absolute;
	 height: 22%;
	 min-height: 120px;
	 width: 100%;
	 top:79%;
	 background: #a1dee6;
	 overflow: hidden;
	 display: flex;
	 justify-content:center;
}
 .name2 {
	 position: absolute;
	 top: 50px;
	 left: 2px;
	 color: #79c7c5;
	 font-size: 0.8em;
	 letter-spacing: 2px;
	 font-weight: 500;
}
 .email {
	position: absolute;
	 color: #f9fbff;
	 font-size: 15px;
	 margin-top: 70px;
	 white-space:nowrap;
	 overflow: hidden;
}
 #user_email{
	 top: 5px;
 }
 .signout{
	position: absolute;
	color: #78afc4;
	background-color:#f9fbff ;
	font-size: 12px;
	cursor: pointer;
	top: 80%;
	left: 5%;
	padding: 3px;
	border-radius: 5px;
}
.add_room{
	position: absolute;
	width: 50px;
	height: 50px;
	color: #79c7c5;
	display: flex;
	justify-content:center;
	cursor: pointer;
	top: -10px;
	left: 10px;
	border-width: 20px;
}
#add_logo{
	position: absolute;	
	font-size: 48px;
	top:20px;
}
#room_su{
	position: absolute;	
	top:10px;
	left: 60px;
	overflow: hidden;
	display: block;
}
 .chatbox {
	 position: absolute;
	 left: 30%;
	 height: 100%;
	 width: 65%;
	 border-radius: 10px;
	 box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
	 overflow: hidden;
}
 .top-bar {
	 width: 100%;
	 height: 10%;
	 background: #a1dee6;
	 border-radius: 10px 10px 0 0;
	 display: flex;
	 justify-content:center;
	 overflow: hidden;
	 min-height:none;
}
 .avatar {
	 width: 50px;
	 height: 50px;
	 background: linear-gradient(to bottom left, #62d1cd 20%, #79c7c5 100%);
	 border-radius: 50%;
	 position: absolute;
	 top: 15%;
	 display: flex;
	 justify-content:center;
}

#room_icon{
	 width: 40px;
	 height: 40px;
	 border-radius: 50%;
	 top: 2.5%;
	 left: 5%;
}
 
#email_logo{
	position: relative;
	color: #f9fbff;
	font-size: 20px;
	top:25%;
}
 .room_name {
	 position: absolute;
	 top: 2.5%;
	 color: #f9fbff;
	 font-weight:bolder;
	 font-size: 1.8em;
	 letter-spacing: 2px;
	 font-weight: 600;
	 white-space:nowrap;
	 overflow: hidden;
}
 .menu {
	 position: absolute;
	 right: 40px;
	 top: 4%;
	 width: 40px;
	 height: 20px;
	 cursor: pointer;
}

 .icons {
	 position: absolute;
	 color: #a1e2d9;
	 padding: 10px;
	 top: 5px;
	 right: 21px;
	 cursor: pointer;
}

 .dots {
	 position:absolute;
	 width: 5px;
	 height: 5px;
	 border-radius: 50%;
	 background-color: #79c7c5;
	 box-shadow: 0px 7px 0px #79c7c5, 0px 14px 0px #79c7c5;
	 right: 20px;
}

 .typing {
	 position: absolute;
	 top: 67%;
	 left: 20px;
}

 .ellipsis {
	 width: 5px;
	 height: 5px;
	 display: inline-block;
	 background: #b7b7b7;
	 border-radius: 50%;
	 animation: bounce 1.3s linear infinite;
}

 .bubble {
	 position: absolute;
	 color: #f9fbff;
	 font-size: 1em;
	 padding: 10px 10px 10px 12px;
	 border-radius: 20px;
	 word-wrap:break-word;
	 max-width: 60%;
	 width: fit-content;
	 height: fit-content;
	 line-height:15px;
}
.uesr_name{
	font-size: 0.8em;
	font:bolder;
	line-height: 3px;
}
#incoming {
	background-color: #b2b2b2;
	left: 20px;
}
#outgoing {
	background-color: #79c7c5;
	right: 20px;
	float: right;
}
.middle {
	position: absolute;
	background: #f9fbff;
	width: 100%;
	opacity: 0.85;
	top: 10%;
	height: 78%;
	overflow:scroll;
	overflow-x:hidden;
	line-height: 20px;
}

.signin_bubble {
	position: relative;
	display: inline-block;
	margin: 5px;
	margin-top: 15px;
	color: #79c7c5;
	font-size: 1.0em;
	padding: 15px 15px 15px 15px;
	border-radius: 15px;
	margin-left: 20px;
}

.signin_bubble_left {
	position: relative;
	display: inline-block;
	margin: 5px;
	color: #79c7c5;
	font-size: 1.0em;
	padding: 15px 15px 15px 15px;
	border-radius: 15px;
	margin-left: 100px;
}

.signin_email {
	position: relative;
	display: inline-block;
	width: 400px;
	margin-bottom: 30px;
	margin-left: 0px;
	background-color: #f9fbff;
	font-size: 0.9em;
	padding: 10px 10px 10px 12px;
	border-radius: 20px;
}

.signin_pass {
	position: relative;
	display: inline-block;
	width: 400px;
	margin-bottom: 30px;
	margin-left: 34px;
	background-color: #f9fbff;
	font-size: 0.9em;
	padding: 10px 10px 10px 12px;
	border-radius: 20px;
}

.signin_tag{
	position: relative;
	display: inline-block;
	color: #f9fbff;
	transform: translate(10px,15px);
	font-size: 1.2em;
}

 .lower {
	 margin-top: 45px;
}
 
 .bottom-bar {
	 position: absolute;
	 width: 100%;
	 height: 12%;
	 min-height: 65px;
	 bottom: 0;
	 background: #f9fbff;
	 border-radius: 0 0 10px 10px;
}
 .left {
	 left: 0px;
}
 input {
	width: 74%;
	 left: 5%;
	 top:33%;
	 position: absolute;
	 border: 0;
	 font-size: 15px;
	 background: #f9fbff;
	 color: #79c7c5;
}
#text_su{
	top:45%;
	width:75%;
}
#signin_pass{
	top:15px;
}
#signin_email{
	top:15px;
}
 input::placeholder {
	 color: #a1e2d9;
}
 input:focus {
	 color: #777;
	 outline: 0;
}
 button {
	 position: absolute;
	 border: 0;
	 font-size: 1em;
	 color: #a1e2d9;
	 top: 19px;
	 opacity: 0.8;
	 right: 17px;
	 cursor: pointer;
	 outline: 0;
}
 button:hover {
	 transform: scale(1.1);
	 transition: all 0.3s ease-in-out;
	 color: #79c7c5;
}
.su_btn{
	position: relative;
	color: #f9fbff;
	background-color:#a1e2d9 ;
	width: 55px;
	font-size: 18px;
	cursor: pointer;
	top: 35%;
	left:85%;
	padding: 5px;
	border-radius: 5px;
}
.su_btn:hover{
	position: absolute;
	color: #f9fbff;
	background-color:#a1e2d9 ;
	font-size: 20px;
	width: 60px;
	padding: 5px;
	border-radius: 6px;
	transition: all 0.3s ease-in-out;
}
 footer {
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 text-align: center;
	 font-size: 0.7em;
	 padding: 10px;
}
 footer p {
	 color: #79c7c5;
	 text-transform: uppercase;
	 letter-spacing: 2px;
}
 footer a {
	 color: #f9fbff;
	 text-decoration: none;
}
 footer a:hover {
	 color: #a1e2d9;
}
 @keyframes bounce {
	 30% {
		 transform: translateY(-2px);
	}
	 60% {
		 transform: translateY(0px);
	}
	 80% {
		 transform: translateY(2px);
	}
	 100% {
		 transform: translateY(0px);
		 opacity: 0.5;
	}
}

.dropdownmenu {
	cursor: pointer;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  .dropdownmenu .menu-switcher {
	position: absolute;
	display:none;
	overflow: hidden;
  }
  
  .dropdownmenu .menu-body {
	position:absolute;
	background: #f9fbff;
	transform: translate(0, -100%);
	opacity: 1;
	font-size:0;
	font-style: #f9fbff;
	list-style-type: none;
	width: 0px;
	height: 0px;
	right: 50px;
	top: 45px;
	z-index: 1;
	border-radius: 10px;
  }
  
  .dropdownmenu .menu-switcher:checked ~ .menu-body {
	position:absolute;
	list-style-type: none;
	width: 100px;
	height: 56px;
	font-size:15px;
	opacity: 0.85;
	opacity: 1;
	right: 55px;
	top: 45px;
	background: #f9fbff;
	transform: translate(0, 0);
	z-index: 1;
	border-radius: 10px;
  }
  .menu_list{
	  position: relative;
	  width: 100%;
	  color: #a1dee6;
	  margin-top: 6px;
	  transform: translate(-20px,0px);
  }
  .menu_list:hover{
	margin-top: 5px;
	transform: translate(-20px,0px);
	background-color: #78afc4;
	transition: all 0.3s ease-out;
}

#member_su{
	position:absolute;
	display: none;
	z-index: 2;
	height: 30px;
	width: 52%;
	top:115px;
	left: 20%;
	border-radius: 10px 0px 0px 10px;
	padding:0px 20px 0px 20px;
}
.add_member{
	position: absolute;
	width: 55px;
	height: 30px;
	display: none;
	color: #f9fbff;
	background-color: #a1dee6;
	cursor: pointer;
	z-index: 3;
	top:115px;
	left: 75%;
	border-radius: 0px 10px 10px 0px;
}
#member_logo{
	position: absolute;
	display: none;
	font-size: 18px;
	top:5px;
	left: 5px;
}
#member_close{
	position: absolute;
	display: none;
	cursor: pointer;
	font-size: 18px;
	top:118px;
	left: 17%;
	z-index: 2;
	color: #3bdae6;
	font-weight:bolder;
}